.header {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 6.8rem 2rem;
  position: relative;
}

.header_icon_list {
  display: flex;
  font-size: 1.7rem;
  gap: 1rem;
}

.header_Input {
  width: 54rem;
  height: 4rem;
  position: absolute;
  top: 7rem;
  border: 1px solid black;
  background-color: #f6f6f8;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
}

.header_Input input {
  width: 54rem;
  height: 4rem;
  padding: 0 5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.8rem;
}

.zero {
  font-size: 1.3rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background-color: #ed008c;
  padding: 0.05rem 0.6rem;
  border-radius: 1rem;
}

.menu {
  font-size: 1.7rem;
}

.search {
  margin-left: 1.5rem;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  color: black;
}

.globe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  display: none;
}

.glob {
  font-size: 2.5rem;
}

.mobile_Logo {
  margin-left: -39.5rem;
}

.desktop_Logo {
  display: none;
}

.container_ul_li {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 2rem 0 3rem;
  }
  .header_Input {
    position: absolute;
    top: 2.2rem;
    margin-left: 30rem;
  }
  .menu {
    display: none;
  }
  .desktop_Logo {
    display: block;
    margin-left: -35rem;
    margin-top: 1rem;
  }
  .globe {
    display: block;
    font-size: 1.5rem;
    margin-right: -600px;
  }
  .glob {
    color: black;
    font-size: 3rem;
    position: absolute;
    top: 2.5rem;
    right: 45rem;
  }
  .header_icon_list {
    color: black;
    font-size: 3rem;
    display: flex;
    gap: 3rem;
    margin-right: 10rem;
  }
  .zero {
    font-size: 1.5rem;
    padding: 0.1rem 0.8rem;
    border-radius: 10rem;
    position: absolute;
    top: 1rem;
    right: 11rem;
  }
  .container_ul_li {
    display: flex;
    background-color: black;
    color: #fff;
  }
  .container_ul_li ul, li {
    display: flex;
    margin: 0.5rem 1.7rem 0.5rem 2.7rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  .container_ul_li li:hover {
    color: red;
    cursor: pointer;
  }
}
.footer {
  background-color: black;
  color: white;
}

.child_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.h3 {
  padding: 2rem 0;
}

.footer_div1 {
  margin-top: 4rem;
}

.footer p {
  font-size: 1.5rem;
}

.footer_icon {
  margin: 0 0 4rem 5rem;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.divh5 {
  margin: 0 0 1.5rem 0;
}

.footer_end_2p {
  display: flex;
  flex-direction: row;
  margin: 1.5rem 0 0 15rem;
}

.fotp1 {
  margin-right: 5rem;
}

.end {
  display: flex;
  margin: 1.5rem 0 1.5rem 17.5rem;
}

.footerEnd {
  margin: -1rem 1rem 0 0;
}

.hr_img img {
  width: 575px;
  margin: 1.5rem 0;
}

.hr_img2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    background-color: black;
    color: white;
  }
  .footer_divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    text-align: start;
  }
  .footer_div2 {
    margin: 0 17rem;
  }
  .footer_div3 {
    margin-right: 18rem;
  }
  .footer_icon {
    margin: 0 0 3rem -0.1rem;
  }
  .hr_img {
    display: none;
  }
  .hr_img2 {
    display: block;
  }
  .hr_img2 img {
    width: 123rem;
    margin: 6rem 0 2rem 5rem;
  }
  .footer-mother {
    display: flex;
    flex-direction: row-reverse;
  }
  .end {
    margin-left: 4rem;
  }
  .fotp1 {
    margin-left: 60rem;
  }
}
.child_navbar_img h1 {
  font-size: 1rem;
  width: 4.9rem;
  transform: rotate(-15deg);
  border: 1px solid #ffd84c;
  padding: 1.85rem 5.2rem 1.85rem 1rem;
  border-radius: 5rem;
  background-color: #FFD84C;
  color: #0758D1;
  margin-top: 1.3rem;
}

.inner {
  margin-top: 0.7rem;
}

.child_navbar_img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2.4rem 0 2.4rem 1.6rem;
}

.child_navbar_img p {
  font-size: 1.2rem;
  text-align: center;
}

.group_381 {
  margin-left: 4rem;
}

.group_381 img {
  width: 8rem;
}

.group_382 img {
  width: 5rem;
  margin-left: 4rem;
}

.group_382 p {
  margin: 1.5rem 0 0 4rem;
}

.inner_slide_container {
  display: none;
}

.mobile_img1 img {
  width: 57.6rem;
}

.card_Container1 {
  background-color: #dadada;
}

.containers {
  display: flex;
}

.Container1_child {
  border: 1px solid white;
  width: 25rem;
  background-color: #fff;
  border-radius: 0.4rem;
  margin-left: 1.5rem;
}

.inner_h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.5rem;
}

.mobile_none {
  display: none;
}

.child_container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card_img {
  padding-top: 3rem;
}

.card_star {
  display: none;
}

.container_p {
  display: none;
}

.ion {
  font-size: 1.5rem;
  border: 1px solid grey;
  margin-top: 0.8rem;
  margin-left: 40px;
  padding: 0.3rem 0.3rem;
  border-radius: 10rem;
  color: black;
}

.ion2 {
  font-size: 1.5rem;
  border: 1px solid grey;
  margin-top: 0.8rem;
  margin-left: 40px;
  padding: 0.3rem 0.3rem;
  border-radius: 10rem;
  color: red;
}

.card_end {
  width: 23rem;
  font-size: 1.5rem;
  margin: 2rem 0 0 2rem;
}

.star {
  display: flex;
  gap: 0.5rem;
  margin-left: 0.1rem;
}

.prize2 {
  display: flex;
  gap: 0.5rem;
  margin: 0.6rem 0.1rem 0 0;
}

.two_Container1_child {
  display: none;
}

.card2Container {
  border: 1px solid white;
  width: 25rem;
  background-color: #fff;
  border-radius: 0.4rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.mother {
  background-color: #fff;
  border-radius: 0.4rem;
}

.ionCont2 {
  border: 1px solid rgb(183, 179, 179);
  border-radius: 5rem;
  padding: 0.4rem 0.4rem;
  font-size: 1.5rem;
  margin: 10px 0 0 205px;
}

.container2_img {
  text-align: center;
}

.container2_cards {
  display: flex;
  margin-left: 1.5rem;
  gap: 1.6rem;
}

.card3Card4 {
  display: none;
}

.cont_img2 {
  width: 25rem;
  margin-top: -3.9rem;
  height: 25.7rem;
}

.main_Container3 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.div {
  margin: 2rem 0 3.5rem 0;
  font-size: 1.4rem;
  text-align: center;
}

.cont3_img1 {
  width: 57.6rem;
}

.cont3_img2 {
  width: 57.6rem;
}

.cont5_img img {
  width: 57.6rem;
}

.container6 {
  display: none;
}

.cont7_title {
  width: 15rem;
  text-align: center;
  margin: 2rem 0 0 22rem;
}

.cont7_input_btn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 2rem 0 3rem 1.5rem;
}

.input input {
  border-radius: 0.4rem;
  padding: 0.8rem 27rem 0.8rem 1.2rem;
  font-size: 1.4rem;
  border: 1px solid white;
}

.btn button {
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  border-radius: 0.4rem;
  background-color: black;
  color: white;
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .mobile_navbar_img {
    display: none;
  }
  .inner_slide_container {
    display: block;
  }
  .mobile_img1 img {
    display: none;
  }
  .mobile_none {
    display: block;
  }
  .two_Container1_child {
    display: block;
  }
  .two_Container1_child {
    display: flex;
  }
  .inner_h {
    padding: 1.5rem 0rem;
  }
  .card_Container1 {
    padding: 0 9rem;
  }
  .container_p {
    display: block;
  }
  .Container1_child {
    width: 28.7rem;
  }
  .cont_p1 {
    width: 7.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    background-color: #7B61FF;
    text-align: center;
    color: white;
  }
  .cont_p2 {
    width: 7.2rem;
    padding: 0.2rem 0.4rem;
    text-align: center;
    background-color: #2E3A59;
    margin-top: -0.9rem;
    color: white;
  }
  .container_p {
    margin: 1rem 0 0 0;
    z-index: 1;
  }
  .card_img {
    margin-left: -3rem;
    margin-top: 2rem;
  }
  .ion {
    margin: 1rem 0 0 3.5rem;
  }
  .cardp2 {
    width: 3rem;
    color: white;
    background-color: #361283;
    text-align: center;
    border-radius: 5rem;
    padding: 1rem 4.2rem 1rem 1rem;
  }
  .card_star {
    display: block;
    margin-top: 0rem;
    margin-left: -3.3rem;
    z-index: 1;
  }
  .child_container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .cont_p_very {
    color: white;
    width: 70px;
    text-align: center;
    background-color: #FFD84C;
    border-radius: 5rem;
    padding: 1.6rem;
  }
  .card_heart img {
    margin-left: -190px;
    margin-top: 25px;
  }
  .cont_p_very {
    margin-left: 10px;
  }
  .card_3img {
    margin-left: -190px;
    margin-top: 40px;
    z-index: 5;
  }
  .link {
    margin-left: -318px;
    margin-top: 60px;
  }
  .child_container4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .card_icon {
    display: flex;
    flex-direction: row;
  }
  .card_img4 {
    margin-left: -300px;
    margin-top: -1px;
  }
  .card_h4 {
    color: white;
    width: 5rem;
    border: 1px solid black;
    border-radius: 10rem;
    padding: 2rem 6.2rem 2rem 1.2rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: red;
  }
  .card_heart4 .ion {
    margin-left: 150px;
    margin-top: 10px;
    background-color: white;
    font-size: 25px;
  }
  .card3Card4 {
    display: block;
    gap: 1.5rem;
    display: flex;
  }
  .mother {
    width: 28.7rem;
  }
  .container2_ion {
    margin-left: 4rem;
  }
  .cont_img2 {
    width: 286px;
  }
  .main_Container3 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 5rem;
    margin-left: 1.5rem;
  }
  .div {
    display: none;
  }
  .cont3_img1 {
    width: 59rem;
  }
  .cont3_img2 {
    width: 59rem;
  }
  .cont5_img img {
    width: 119.6rem;
    margin: 3rem 0 0 1.5rem;
  }
  .container6 {
    display: block;
  }
  .cont_logo_img {
    display: flex;
    gap: 2.9rem;
    margin: 2rem 0 0 1.5rem;
  }
  .img6 img {
    padding: 1.2rem 2.2rem;
    background-color: white;
    border-radius: 0.8rem;
  }
  .cont7_title {
    width: 40rem;
    font-size: 1.6rem;
    margin: 10rem 0 3rem 44rem;
  }
  .input input {
    margin-left: 35rem;
  }
}/*# sourceMappingURL=home.css.map */