$color: (
  "$black": black,
  "$pink": #ed008c,
  "$search": #f6f6f8,
  "$footerColor": #f0f0f0,
   "$header-navbar":#fff,
   "$red":red,
   "blue":#0758D1,
  "linear":#FFD84C,
  "mobile_navbar_img":#FAF9F9,
  "card":#dadada,
  "contp1": #7B61FF,
  "contp2":#2E3A59,
  "white":white

);

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
